.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.login-global {
    background-color: white;
}

.login-paper {
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-paper {
    margin-top: 5%;
    display: flex;
    flex-direction: columns;
    align-items: center;
}

.avatar {
    margin: 1;
    background-color: white;
}

.login-form {
    width: 100%;
    margin-top: 1;
}

.login-submit {
    margin: 3,0,2;
}

.login-submit1 {
    margin: 3,0,2;
}

.login-grid {
    background-color: white;
    font-size: calc(10px + 2vmin);
    color: #282c34;
}

.login-paper {
    padding: 3,2;
}